.profile {
    width: 200px; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.title {
    font-size: 28px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    letter-spacing: 3px;
    text-align: center; 
}

p {
    font-size: 12px;
    text-align: center;
    color:darkslateblue;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: auto;
    padding: 40px;
    border-radius: 6px;
    text-align: center;
    font-size: 10px;
    color: white;
    box-shadow: 10px 5px 5px yellowgreen;
}